body {
    background-color: teal;
    font-family: 'Courier New', Courier, monospace; /* Ensures fixed-width font */
    /* font-size: 20px; */
}


canvas {
    background-color: white;
}

#dashboard {
  display: flex;
  width: fit-content;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.car-dash-title {
  text-align: center;
  font-weight: bold;
  border-color: black;
  border-bottom: solid 2px;
  padding-bottom: 5px;
}

.car-dash {
  margin: 10px;
}

#car {
    width: 100px;
    height: auto;
    position: absolute;
    transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}
