body {
  display: grid;
  grid-template: repeat(3, 250px) / repeat(5, 250px);
  background-color: teal;
  font-family: 'Courier New', Courier, monospace; /* Ensures fixed-width font */
  /* font-size: 20px; */
}


canvas {
  background-color: white;
  grid-row: 1 / 3;
  grid-column: 1 / 4;
}

#reset-button {
  height: 50px;
  width: 150px;
  margin-top: 30px;
  justify-self: center;
  grid-row: 3;
  grid-column: 4;
  font-size: 20px;
}

#dashboard {
  grid-row: 1 / auto;
  grid-column: 4 / span 2;
  display: flex;
  margin: 10px;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.car-dash-title {
  text-align: center;
  font-weight: bold;
  border-color: black;
  border-bottom: solid 2px;
  padding-bottom: 5px;
}

.car-dash {
  flex-grow: 1;
  margin: 10px;
  grid-column: auto / span 3;
  grid-row: 2;
}

.warning {
  color: red;
}

#winMessage {
  height: fit-content;
  width: fit-content;
  justify-self: center;
  align-self: center;
  grid-row: 2;
  grid-column: 1 / 4;
  background-color: white; /* Ensure visibility */
  padding: 10px;
  border: 2px solid red; /* Make it visible */
  z-index: 1000; /* Make sure it's above other elements */
  display: none; /* Hide the message box initially */
}

.hidden {
  display: none;
}

