body {
    background-color: teal;
    font-family: 'Courier New', Courier, monospace; /* Ensures fixed-width font */
    /* font-size: 20px; */
}


canvas {
    background-color: white;
}

#dashboard {
  display: grid;
  grid-template: auto / repeat(6, 1fr);
  width: fit-content;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#announcer {
  text-align: center;
  grid-column: 1 / -1;
}

.car-dash-title {
  text-align: center;
  font-weight: bold;
  border-color: black;
  border-bottom: solid 2px;
  padding-bottom: 5px;
}

.car-dash {
  margin: 10px;
  grid-column: auto / span 3;
  grid-row: 2;
}

/* #winMessage {
  color: rgb(255, 4, 4);
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
} */

#winMessage {
  position: absolute;
  right: 10px;   /* Adjust based on your layout */
  top: 50%;      /* Center vertically, adjust as needed */
  transform: translateY(-50%);
  background-color: white; /* Ensure visibility */
  padding: 10px;
  border: 1px solid black; /* Make it visible */
  z-index: 1000; /* Make sure it's above other elements */
  display: none; /* Hide the message box initially */
}

